MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=healthcare
MYSQL_USER=healthcare_user
MYSQL_PASSWORD=

DATABASE_URL="mysql://healthcare_user:PASSWORD@localhost:33060/healthcare"

GOOGLE_API_KEY=

LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
